NEXT_PUBLIC_DEMO_MODE=true
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_MAPS_SERVER_API_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_BROWSER_API_KEY=
NEXT_PUBLIC_FEATURE_OCR=false
NEXT_PUBLIC_FEATURE_CSV_IMPORT=true
NEXT_PUBLIC_FEATURE_PACKAGE_RESCAN=true
